/* style.css */

/* Стилі для SlimSelect */
.slim-select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стилі для завантажувача CSS Loaders */
/* .loader {
    text-align: center;
    margin-top: 20px;
} */

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #212121;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Стилі для повідомлення про помилку в Notiflix */
/* .notiflix-notify.failure {
    background-color: #ff6961;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
} */